body
{
    font-family: 'Special Elite', cursive;
    background-color: #f5dbda;
}
.img-responsive
{
    border: 2px solid white;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px white;
}
div
{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid;
    border-radius: 5px;
}
.h4s
{
    box-shadow: 5px 5px 18px rgb(114, 105, 241);
}
.accuracy
{
    box-shadow: 5px 5px 18px rgb(255, 165, 19);
}
#final
{
    box-shadow: 5px 5px 18px rgb(86, 255, 19);
    border: 1px solid;
    border-radius: 5px;
}